{%  extends 'accounts/main.html' %}

{% load static %}

{% block content %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

            <p>Are you sure about deleting this '{{ item }}'??</p>

            <form action="" method="POST">

                 {% csrf_token %}

                <a class="btn btn-warning" href="{% url 'home' %}" >Cancel</a>
                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>


{% endblock %}